@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);





body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #6592e6 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #2260d2 !important;
  border-color: #2260d2 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #6592e6;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #2260d2 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  border-color: #6592e6 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #6592e6 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #205ac5 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #6592e6;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-gallery-filter li.active .btn {
  background-color: #6592e6;
  border-color: #6592e6;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #6592e6;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #6592e6 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Jost', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #6592e6;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #6592e6;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #6592e6;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #6592e6;
  border-bottom-color: #6592e6;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #6592e6 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%236592e6' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
@media (max-width: 991px) {
  .cid-soVL3Y23LG .mbr-section-title,
  .cid-soVL3Y23LG .mbr-section-subtitle,
  .cid-soVL3Y23LG .mbr-section-btn,
  .cid-soVL3Y23LG .mbr-text {
    text-align: center;
  }
}
.cid-soWvn5a7Bn {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #ffffff;
}
@media (max-width: 991px) {
  .cid-soWvn5a7Bn .image-wrapper {
    margin-bottom: 1rem;
  }
}
.cid-soWvn5a7Bn .row {
  flex-direction: row-reverse;
}
.cid-soWvn5a7Bn img {
  width: 100%;
}
.cid-soVOUiVQN5 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVOUiVQN5 .video-wrapper iframe {
  width: 100%;
}
.cid-soVOUiVQN5 .mbr-section-title,
.cid-soVOUiVQN5 .mbr-section-subtitle,
.cid-soVOUiVQN5 .mbr-text {
  text-align: center;
}
.cid-soVOUiVQN5 .mbr-section-subtitle {
  text-align: center;
}
.cid-soW3FwCDiD {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soW3FwCDiD .video-wrapper iframe {
  width: 100%;
}
.cid-soW3FwCDiD .mbr-section-title,
.cid-soW3FwCDiD .mbr-section-subtitle,
.cid-soW3FwCDiD .mbr-text {
  text-align: center;
}
.cid-soVPvriblQ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVPvriblQ .video-wrapper iframe {
  width: 100%;
}
.cid-soVPvriblQ .mbr-section-title,
.cid-soVPvriblQ .mbr-section-subtitle,
.cid-soVPvriblQ .mbr-text {
  text-align: center;
}
.cid-soVQbv4Qa0 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVQbv4Qa0 .video-wrapper iframe {
  width: 100%;
}
.cid-soVQbv4Qa0 .mbr-section-title,
.cid-soVQbv4Qa0 .mbr-section-subtitle,
.cid-soVQbv4Qa0 .mbr-text {
  text-align: center;
}
.cid-soVQLTaAbM {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVQLTaAbM .video-wrapper iframe {
  width: 100%;
}
.cid-soVQLTaAbM .mbr-section-title,
.cid-soVQLTaAbM .mbr-section-subtitle,
.cid-soVQLTaAbM .mbr-text {
  text-align: center;
}
.cid-soVRNg0wHm {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVRNg0wHm .video-wrapper iframe {
  width: 100%;
}
.cid-soVRNg0wHm .mbr-section-title,
.cid-soVRNg0wHm .mbr-section-subtitle,
.cid-soVRNg0wHm .mbr-text {
  text-align: center;
}
.cid-soVSaiUPVY {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVSaiUPVY .video-wrapper iframe {
  width: 100%;
}
.cid-soVSaiUPVY .mbr-section-title,
.cid-soVSaiUPVY .mbr-section-subtitle,
.cid-soVSaiUPVY .mbr-text {
  text-align: center;
}
.cid-soVSFCUiep {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVSFCUiep .video-wrapper iframe {
  width: 100%;
}
.cid-soVSFCUiep .mbr-section-title,
.cid-soVSFCUiep .mbr-section-subtitle,
.cid-soVSFCUiep .mbr-text {
  text-align: center;
}
.cid-soVT9xXCct {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVT9xXCct .video-wrapper iframe {
  width: 100%;
}
.cid-soVT9xXCct .mbr-section-title,
.cid-soVT9xXCct .mbr-section-subtitle,
.cid-soVT9xXCct .mbr-text {
  text-align: center;
}
.cid-soVTCODYmn {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVTCODYmn .video-wrapper iframe {
  width: 100%;
}
.cid-soVTCODYmn .mbr-section-title,
.cid-soVTCODYmn .mbr-section-subtitle,
.cid-soVTCODYmn .mbr-text {
  text-align: center;
}
.cid-soVTZQcNoF {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVTZQcNoF .video-wrapper iframe {
  width: 100%;
}
.cid-soVTZQcNoF .mbr-section-title,
.cid-soVTZQcNoF .mbr-section-subtitle,
.cid-soVTZQcNoF .mbr-text {
  text-align: center;
}
.cid-soVUXvjSZ7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVUXvjSZ7 .video-wrapper iframe {
  width: 100%;
}
.cid-soVUXvjSZ7 .mbr-section-title,
.cid-soVUXvjSZ7 .mbr-section-subtitle,
.cid-soVUXvjSZ7 .mbr-text {
  text-align: center;
}
.cid-soVVKt1RuF {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVVKt1RuF .video-wrapper iframe {
  width: 100%;
}
.cid-soVVKt1RuF .mbr-section-title,
.cid-soVVKt1RuF .mbr-section-subtitle,
.cid-soVVKt1RuF .mbr-text {
  text-align: center;
}
.cid-soVWkA90wO {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVWkA90wO .video-wrapper iframe {
  width: 100%;
}
.cid-soVWkA90wO .mbr-section-title,
.cid-soVWkA90wO .mbr-section-subtitle,
.cid-soVWkA90wO .mbr-text {
  text-align: center;
}
.cid-soVWEVI7iK {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVWEVI7iK .video-wrapper iframe {
  width: 100%;
}
.cid-soVWEVI7iK .mbr-section-title,
.cid-soVWEVI7iK .mbr-section-subtitle,
.cid-soVWEVI7iK .mbr-text {
  text-align: center;
}
.cid-soVYihF7ww {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVYihF7ww .video-wrapper iframe {
  width: 100%;
}
.cid-soVYihF7ww .mbr-section-title,
.cid-soVYihF7ww .mbr-section-subtitle,
.cid-soVYihF7ww .mbr-text {
  text-align: center;
}
.cid-soVZoDLf4f {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soVZoDLf4f .video-wrapper iframe {
  width: 100%;
}
.cid-soVZoDLf4f .mbr-section-title,
.cid-soVZoDLf4f .mbr-section-subtitle,
.cid-soVZoDLf4f .mbr-text {
  text-align: center;
}
.cid-soVZoDLf4f .mbr-section-title {
  text-align: center;
}
.cid-soW1WtzTto {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soW1WtzTto .video-wrapper iframe {
  width: 100%;
}
.cid-soW1WtzTto .mbr-section-title,
.cid-soW1WtzTto .mbr-section-subtitle,
.cid-soW1WtzTto .mbr-text {
  text-align: center;
}
.cid-soW1WtzTto .mbr-section-subtitle {
  text-align: right;
}
.cid-soW1WtzTto .mbr-section-title {
  text-align: center;
}
.cid-soW2iCi9Zi {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soW2iCi9Zi .video-wrapper iframe {
  width: 100%;
}
.cid-soW2iCi9Zi .mbr-section-title,
.cid-soW2iCi9Zi .mbr-section-subtitle,
.cid-soW2iCi9Zi .mbr-text {
  text-align: center;
}
.cid-soW2iCi9Zi .mbr-section-title {
  text-align: center;
}
.cid-soW4C3NEET {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soW4C3NEET .video-wrapper iframe {
  width: 100%;
}
.cid-soW4C3NEET .mbr-section-title,
.cid-soW4C3NEET .mbr-section-subtitle,
.cid-soW4C3NEET .mbr-text {
  text-align: center;
}
.cid-soW6UcS2Hw {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soW6UcS2Hw .video-wrapper iframe {
  width: 100%;
}
.cid-soW6UcS2Hw .mbr-section-title,
.cid-soW6UcS2Hw .mbr-section-subtitle,
.cid-soW6UcS2Hw .mbr-text {
  text-align: center;
}
.cid-soW7cAQfhx {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soW7cAQfhx .video-wrapper iframe {
  width: 100%;
}
.cid-soW7cAQfhx .mbr-section-title,
.cid-soW7cAQfhx .mbr-section-subtitle,
.cid-soW7cAQfhx .mbr-text {
  text-align: center;
}
.cid-soW7QiVBGX {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soW7QiVBGX .video-wrapper iframe {
  width: 100%;
}
.cid-soW7QiVBGX .mbr-section-title,
.cid-soW7QiVBGX .mbr-section-subtitle,
.cid-soW7QiVBGX .mbr-text {
  text-align: center;
}
.cid-soW7YQfh3C {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soW7YQfh3C .video-wrapper iframe {
  width: 100%;
}
.cid-soW7YQfh3C .mbr-section-title,
.cid-soW7YQfh3C .mbr-section-subtitle,
.cid-soW7YQfh3C .mbr-text {
  text-align: center;
}
.cid-soW88LgUCd {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soW88LgUCd .video-wrapper iframe {
  width: 100%;
}
.cid-soW88LgUCd .mbr-section-title,
.cid-soW88LgUCd .mbr-section-subtitle,
.cid-soW88LgUCd .mbr-text {
  text-align: center;
}
.cid-soW8oo5K6L {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soW8oo5K6L .video-wrapper iframe {
  width: 100%;
}
.cid-soW8oo5K6L .mbr-section-title,
.cid-soW8oo5K6L .mbr-section-subtitle,
.cid-soW8oo5K6L .mbr-text {
  text-align: center;
}
.cid-soW8M1zW4z {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soW8M1zW4z .video-wrapper iframe {
  width: 100%;
}
.cid-soW8M1zW4z .mbr-section-title,
.cid-soW8M1zW4z .mbr-section-subtitle,
.cid-soW8M1zW4z .mbr-text {
  text-align: center;
}
.cid-soWm4vCuca {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWm4vCuca .video-wrapper iframe {
  width: 100%;
}
.cid-soWm4vCuca .mbr-section-title,
.cid-soWm4vCuca .mbr-section-subtitle,
.cid-soWm4vCuca .mbr-text {
  text-align: center;
}
.cid-soWmsohQrA {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWmsohQrA .video-wrapper iframe {
  width: 100%;
}
.cid-soWmsohQrA .mbr-section-title,
.cid-soWmsohQrA .mbr-section-subtitle,
.cid-soWmsohQrA .mbr-text {
  text-align: center;
}
.cid-soWmDnAv2w {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWmDnAv2w .video-wrapper iframe {
  width: 100%;
}
.cid-soWmDnAv2w .mbr-section-title,
.cid-soWmDnAv2w .mbr-section-subtitle,
.cid-soWmDnAv2w .mbr-text {
  text-align: center;
}
.cid-soWnj6VyaF {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWnj6VyaF .video-wrapper iframe {
  width: 100%;
}
.cid-soWnj6VyaF .mbr-section-title,
.cid-soWnj6VyaF .mbr-section-subtitle,
.cid-soWnj6VyaF .mbr-text {
  text-align: center;
}
.cid-soWnBgwaSl {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWnBgwaSl .video-wrapper iframe {
  width: 100%;
}
.cid-soWnBgwaSl .mbr-section-title,
.cid-soWnBgwaSl .mbr-section-subtitle,
.cid-soWnBgwaSl .mbr-text {
  text-align: center;
}
.cid-soWnGBGTXJ {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWnGBGTXJ .video-wrapper iframe {
  width: 100%;
}
.cid-soWnGBGTXJ .mbr-section-title,
.cid-soWnGBGTXJ .mbr-section-subtitle,
.cid-soWnGBGTXJ .mbr-text {
  text-align: center;
}
.cid-soWo5gBG0y {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWo5gBG0y .video-wrapper iframe {
  width: 100%;
}
.cid-soWo5gBG0y .mbr-section-title,
.cid-soWo5gBG0y .mbr-section-subtitle,
.cid-soWo5gBG0y .mbr-text {
  text-align: center;
}
.cid-soWoNRdQV4 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWoNRdQV4 .video-wrapper iframe {
  width: 100%;
}
.cid-soWoNRdQV4 .mbr-section-title,
.cid-soWoNRdQV4 .mbr-section-subtitle,
.cid-soWoNRdQV4 .mbr-text {
  text-align: center;
}
.cid-soWp5aaIMs {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWp5aaIMs .video-wrapper iframe {
  width: 100%;
}
.cid-soWp5aaIMs .mbr-section-title,
.cid-soWp5aaIMs .mbr-section-subtitle,
.cid-soWp5aaIMs .mbr-text {
  text-align: center;
}
.cid-soWpJUrDrw {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWpJUrDrw .video-wrapper iframe {
  width: 100%;
}
.cid-soWpJUrDrw .mbr-section-title,
.cid-soWpJUrDrw .mbr-section-subtitle,
.cid-soWpJUrDrw .mbr-text {
  text-align: center;
}
.cid-soWq3bveNg {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWq3bveNg .video-wrapper iframe {
  width: 100%;
}
.cid-soWq3bveNg .mbr-section-title,
.cid-soWq3bveNg .mbr-section-subtitle,
.cid-soWq3bveNg .mbr-text {
  text-align: center;
}
.cid-soWqn20zXV {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWqn20zXV .video-wrapper iframe {
  width: 100%;
}
.cid-soWqn20zXV .mbr-section-title,
.cid-soWqn20zXV .mbr-section-subtitle,
.cid-soWqn20zXV .mbr-text {
  text-align: center;
}
.cid-soWrr90AlL {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWrr90AlL .video-wrapper iframe {
  width: 100%;
}
.cid-soWrr90AlL .mbr-section-title,
.cid-soWrr90AlL .mbr-section-subtitle,
.cid-soWrr90AlL .mbr-text {
  text-align: center;
}
.cid-soWrDszR0F {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWrDszR0F .video-wrapper iframe {
  width: 100%;
}
.cid-soWrDszR0F .mbr-section-title,
.cid-soWrDszR0F .mbr-section-subtitle,
.cid-soWrDszR0F .mbr-text {
  text-align: center;
}
.cid-soWrUC3z2M {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWrUC3z2M .video-wrapper iframe {
  width: 100%;
}
.cid-soWrUC3z2M .mbr-section-title,
.cid-soWrUC3z2M .mbr-section-subtitle,
.cid-soWrUC3z2M .mbr-text {
  text-align: center;
}
.cid-soWrYI0S7F {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWrYI0S7F .video-wrapper iframe {
  width: 100%;
}
.cid-soWrYI0S7F .mbr-section-title,
.cid-soWrYI0S7F .mbr-section-subtitle,
.cid-soWrYI0S7F .mbr-text {
  text-align: center;
}
.cid-soWsp3Ijtt {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWsp3Ijtt .video-wrapper iframe {
  width: 100%;
}
.cid-soWsp3Ijtt .mbr-section-title,
.cid-soWsp3Ijtt .mbr-section-subtitle,
.cid-soWsp3Ijtt .mbr-text {
  text-align: center;
}
.cid-soWszHW5uX {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWszHW5uX .video-wrapper iframe {
  width: 100%;
}
.cid-soWszHW5uX .mbr-section-title,
.cid-soWszHW5uX .mbr-section-subtitle,
.cid-soWszHW5uX .mbr-text {
  text-align: center;
}
.cid-soWsO5VXjN {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWsO5VXjN .video-wrapper iframe {
  width: 100%;
}
.cid-soWsO5VXjN .mbr-section-title,
.cid-soWsO5VXjN .mbr-section-subtitle,
.cid-soWsO5VXjN .mbr-text {
  text-align: center;
}
.cid-soWtcc7cyq {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWtcc7cyq .video-wrapper iframe {
  width: 100%;
}
.cid-soWtcc7cyq .mbr-section-title,
.cid-soWtcc7cyq .mbr-section-subtitle,
.cid-soWtcc7cyq .mbr-text {
  text-align: center;
}
.cid-soWtpJ9SRW {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWtpJ9SRW .video-wrapper iframe {
  width: 100%;
}
.cid-soWtpJ9SRW .mbr-section-title,
.cid-soWtpJ9SRW .mbr-section-subtitle,
.cid-soWtpJ9SRW .mbr-text {
  text-align: center;
}
.cid-soWtJHCTjG {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWtJHCTjG .video-wrapper iframe {
  width: 100%;
}
.cid-soWtJHCTjG .mbr-section-title,
.cid-soWtJHCTjG .mbr-section-subtitle,
.cid-soWtJHCTjG .mbr-text {
  text-align: center;
}
.cid-soWueKRwe7 {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWueKRwe7 .video-wrapper iframe {
  width: 100%;
}
.cid-soWueKRwe7 .mbr-section-title,
.cid-soWueKRwe7 .mbr-section-subtitle,
.cid-soWueKRwe7 .mbr-text {
  text-align: center;
}
.cid-soWlFRax0h {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWlFRax0h .video-wrapper iframe {
  width: 100%;
}
.cid-soWlFRax0h .mbr-section-title,
.cid-soWlFRax0h .mbr-section-subtitle,
.cid-soWlFRax0h .mbr-text {
  text-align: center;
}
.cid-soWlSQN1Ut {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-soWlSQN1Ut .video-wrapper iframe {
  width: 100%;
}
.cid-soWlSQN1Ut .mbr-section-title,
.cid-soWlSQN1Ut .mbr-section-subtitle,
.cid-soWlSQN1Ut .mbr-text {
  text-align: center;
}
